<ul class="navbar-nav">
    @{
        if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Welcome, @User.Identity.Name
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-dark" asp-action="ViewRollerCoasters" asp-controller="RollerCoaster">View all roller coasters!</a>
                    <a class="dropdown-item text-dark" asp-action="LogoutUser" asp-controller="User">Log Out</a>
                </div>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="LoginUser" asp-controller="User">Login</a>
            </li>
        }
    }
</ul>